.loginContainer {
    width: 30%;
    height: 95vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1000px) {
    .loginContainer {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .loginContainer {
        width: 80%;
    }
}

@media only screen and (max-width: 300px) {
    .loginContainer {
        width: 95%;
    }
}